body {
   background-color: #eee
}

.nav-link:hover {
   background-color: #525252 !important
}

.nav-link .fa {
   transition: all 1s
}

.nav-link:hover .fa {
   transform: rotate(360deg)
}
/* Add a black background color to the top navigation */
.topnav {
   background-color: #4c9ac2;
   overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
 float: right;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
   background-color: #525252;
 color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
 background-color: rgb(59, 45, 121);
 color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
 float: right;
}