{%extends 'layout.html'%}
{% load static %}

{% block content %}
<div id="content" class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Hakkımızda</h1>
      <p class="col-md-8 fs-4">

        Şubat 2022’de kurulan kültür, sanat ve edebiyat dergileri tanıtma sitesidir. İnternet üzerinden yayın yapan dergilerin her sayısında şiirden heykele, resimden öyküye, felsefeden sosyolojiye, medyadan antropolojiye kadar geniş bir yelpazede yazılar yayınlanmaktadır. Bizim amacımız onları tanıtmaktır

      </p>
    </div>
  </div>
 
{% endblock content %}