{%extends 'layout.html'%}
{% load static %}
{% load humanize %}

{% block content %}

<div id="content" class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Ana Sayfa</h1>
      <p class="col-md-6 fs-4">Sıralama seçimi için butonlara tıklayınız</p>
      <button class="btn btn-outline-primary" type="button">Alfabetik</button>
      <button class="btn btn-outline-primary" type="button">Yayın Tarihi</button>
      <button class="btn btn-outline-primary" type="button">Akıllı Sıralama</button>
    </div>
  </div>


         
               
{% endblock content %}