{%extends 'layout.html'%}
{% load static %}

{% block content %}
 
<div class="row">
    <div class="col-md-12">
      
<div id="content" class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-2">
      <div class="container">                   
  <img src="{% static magazine.get_image_path %}" class ="rounded mx-auto d-block" style="max-width:50%;" alt="">                   
</div> 
</div>

<div class="container-fluid py-2">
  <h1 class="display-5 fw-bold"></h1>
  <div class="card mb-5">           
    <div class="row">
      <h1 class="display-5 fw-bold text-center">{{magazine.name}}</h1> 
                        
  <p class="p-4 fs-5">
    {{ magazine.real_content }}
  </p>
</div>
</div>
</div>

</div>
{% endblock content %}