{%extends 'layout.html'%}
{% load humanize %}
{% load static %}

{% block content %}
<div id="content" class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Liste</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
  </div>


  <div id= "content" class="row">    
    <div class="col-md-12">           
      {% if magazines %}
        {% for magazine in magazines %}

          <div class="card mb-3">           
        <div class="row">               
            <div class="col-md-3">                   
                <img class ="card-img" src="{% static magazine.get_image_path %}" alt="">                   
            </div>               
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-title"> 
                      <a href="{% url 'detail' magazine.id %}">{{ magazine.name }}</a> 
                    </div>
                    <p class="card-text">
                      {{ magazine.description }}                    </p>
                    <p class="card-text">
                        <small class="text-muted">{{ magazine.created_date | timesince }}</small>
                    </p>                       
                </div>
            </div>               
        </div>           
          </div>  

        {% endfor %}

      {% else %}
      <div class="alert alert-warning">
        <p>
          no magazines
        </p>
      </div>

      {% endif %}

            

{% endblock content %}